<% layout('./layout/boilerplate') -%>
<div class="mainDiv container">
    <h1 class="fs-4 mb-3">Pending Diary Entries for the Week: <%= dateString %></h1>
    <p><b>Pending Count:</b> <%= filteredEmployees.length %></p>
    <a href="/admin/home"><button class="btn btn-primary mb-3">Admin Home</button></a>
    <br>
    <button id="extractDataButton" class="btn btn-primary mt-0 mb-3">Extract Data</button>
    <div class="contentHolder row mx-0 d-none d-md-flex" style="background-color: lightpink !important;">
        <div class="col col-md-2 ps-1">
            <b>Employee ID</b>
        </div>
        <div class="col col-md-3 ps-1">
            <b>Name</b>
        </div>
        <div class="col col-md-3 ps-1">
            <b>Team</b>
        </div>
    </div>

    <% for (employee of filteredEmployees) { %>
        <div class="mx-0 d-none d-md-flex">
            <div class="col col-md-2 ps-2">
                <p><%= employee.empID %></p>
            </div>
            <div class="col col-md-3 ps-2">
                <p><%= employee.name %></p>
            </div>
            <div class="col col-md-3 ps-2">
                <p><%= employee.team %></p>
            </div>
        </div>
    <% } %>
</div>

<script>
    document.getElementById('extractDataButton').addEventListener('click', function() {
        // Create a CSV header
        let csvContent = "data:text/csv;charset=utf-8,";
        csvContent += "Employee ID,Name,Team\n";

        // Iterate over each employee and add their data to the CSV content
        <% for (employee of filteredEmployees) { %>
            csvContent += "<%= employee.empID %>,<%= employee.name %>,<%= employee.team %>\n";
        <% } %>

        // Create a blob with the CSV content
        const encodedUri = encodeURI(csvContent);
        const link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "pending_diary_entries.csv");
        document.body.appendChild(link);

        // Trigger a click event on the link to initiate the download
        link.click();
    });
</script>